{% extends "simpleblogapp/base.html" %}
{% load staticfiles %}


{% block main_block %}
<!-- Wrapper -->
    <div id="wrapper">
        <!-- Header -->
            <header id="header">
                <a href="/simpleblogapp/" class="logo">My blog</a>
            </header>

        <!-- Nav -->
            <nav id="nav">
            </nav>

        <!-- Main -->
            <div id="main">

                <!-- Post -->
                    <section class="post">
                        <header class="major">
                            <h1>{{ article.name }}</h1>
                            <p>{{ article.description }}</p>
                        </header>
                        <div class="image main"><img src="{{ article.image.url }}" alt="" /></div>
                        <p>{{ article.body_text }}</p>

                        <ul class="icons">
                            <li><a href="/simpleblogapp/{{ article.id }}" class="icon far fa-calendar">{{ article.pub_date }}</a></li>
                            <li><a href="/simpleblogapp/{{ article.id }}" class="icon far fa-comment">{{ article.quantity_comments }}</a></li>
                            <li><a href="/simpleblogapp/add_like/{{ article.id }}/?next={{ request.get_full_path }}" class="icon far fa-heart">{{ article.quantity_likes }}</a></li>
                        </ul>
                    </section>

                    <dl>
                    <h3>Comments</h3>
                    {% if not comments %}
                        <p>Comments weren't add.</p>
                    {% else %}
                        {% for comment in comments %}
                            <ul class="icons">
                                <li><b >{{ comment.user }}</b></li>
                                <li><a href="#" class="icon far fa-calendar">{{ comment.pub_datetime }}</a></li>
                            </ul>
                            <dd>
                                <p>{{ comment.text }}</p>
                            </dd>
                        {% endfor %}
                    {% endif %}
                    </dl>

                    <!-- Pagination for comments -->
                    <footer>
                        <div class="pagination">
                        {% if comments.has_previous %}
                            <a href="?page={{ comments.previous_page_number }}" class="previous">Prior</a>
                        {% else %}
                            <a href="" class="previous  active">Prior</a>
                        {% endif %}

                        {% if comments.has_next %}
                            <a href="?page={{ comments.next_page_number }}" class="next">Next</a>
                        {% else %}
                            <a href="" class="next  active2">Next</a>
                        {% endif %}
                        </div>
                    </footer>

                    <!-- Add comments -->
                    <form method="post" action="/simpleblogapp/{{ article.id }}/?next={{ request.get_full_path }}" class="alt">
                        {% csrf_token %}
                        <h3>Add Comment</h3>
                        <div class="row uniform">
                            <div class="12u$">
                                <textarea name="comment" id="comment" placeholder="Enter your comment" rows="6"></textarea>
                            </div>
                            <div class="6u$ 12u$(xsmall)">
                                <ul class="actions">
                                    <li><input type="submit" value="Add Comment" class="special" /></li>
                                </ul>
                            </div>
                        </div>
                    </form>
                <hr />
            </div>

        <!-- Copyright -->
            <div id="copyright">
                <ul><li>&copy; Untitled</li><li>Design: <a href="https://html5up.net">HTML5 UP</a></li></ul>
            </div>
    </div>
{% endblock %}
