{% load staticfiles %}

<!DOCTYPE HTML>
<!--
	Massively by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>Massively by HTML5 UP</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="{% static 'simpleblogapp/assets/css/main.css' %}" />
		<noscript><link rel="stylesheet" href="{% static 'simpleblogapp/assets/css/noscript.css' %}" /></noscript>
	</head>

        {% block main_block %}
        {% endblock %}

		<!-- Scripts -->
			<script src="{% static 'simpleblogapp/assets/js/jquery.min.js' %}"></script>
			<script src="{% static 'simpleblogapp/assets/js/jquery.scrollex.min.js' %}"></script>
			<script src="{% static 'simpleblogapp/assets/js/jquery.scrolly.min.js' %}"></script>
			<script src="{% static 'simpleblogapp/assets/js/skel.min.js' %}"></script>
			<script src="{% static 'simpleblogapp/assets/js/util.js' %}"></script>
			<script src="{% static 'simpleblogapp/assets/js/main.js' %}"></script>

	</body>
</html>