{% extends "simpleblogapp/base.html" %}
{% load staticfiles %}


{% block main_block %}
<!-- Wrapper -->
    <div id="wrapper" class="fade-in">

        <!-- Intro -->
            <div id="intro">
                <h1>This is blog<br />
                about my life</h1>
                <p>Lorem Ipsum passages, and more recently with desktop publishing<br />
                software like Aldus PageMaker including versions of Lorem Ipsum.</p>
            </div>

        <!-- Header -->
					<header id="header">
						<a href="/simpleblogapp/" class="logo">My blog</a>
					</header>
        <!-- Nav -->
            <nav id="nav">
                <form method="post" action="/simpleblogapp/" class="alt">
                    {% csrf_token %}
                    <div class="row uniform">
                        <div class="4u 12u$">
                            <div class="select-wrapper">
                                <select name="tag" id="tag" onchange="this.form.submit()">
                                    <option value="">Choose tag</option>
                                    {% for tag in tag_list %}
                                        <option value={{ tag.name }}>{{ tag.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                </form>
                <ul class="icons">
                    <li><a href="/simpleblogapp/" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
                    <li><a href="/simpleblogapp/" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
                    <li><a href="/simpleblogapp/" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
                    <li><a href="/simpleblogapp/" class="icon fa-github"><span class="label">GitHub</span></a></li>
                </ul>
                <ul class="links">
                    <li><a href="/simpleblogapp/logout/">LogOut({{ user_name }})</a></li>
                </ul>
            </nav>

        <!-- Main -->
            <div id="main">
            <!-- Posts -->
                <section class="posts">
                    {% for article in articles %}
                    <article>
                        <header>
                            <h2><a href="/simpleblogapp/{{ article.id }}/">{{ article.name }}</a></h2>
                        </header>
                        <a href="/simpleblogapp/{{ article.id }}/" class="image fit"><img src="{{ article.image.url }}" alt="" /></a>
                        <p>{{ article.body_text|truncatewords:35 }}</p>
                        <ul class="icons">
                            <li><a href="/simpleblogapp/{{ article.id }}/" class="icon far fa-calendar">{{ article.pub_date }}</a></li>
                            <li><a href="/simpleblogapp/{{ article.id }}//" class="icon far fa-comment">{{ article.quantity_comments }}</a></li>
                            <li><a href="/simpleblogapp/add_like/{{ article.id }}/?next={{ request.get_full_path }}" class="icon far fa-heart">{{ article.quantity_likes }}</a></li>
                        </ul>
                        <ul class="actions">
                            <li><a href="/simpleblogapp/{{ article.id }}/" class="button">Continue Reading</a></li>
                        </ul>
                    </article>
                    {% endfor %}
                </section>

            <!-- Pagination -->
                <footer>
                    <div class="pagination">
                    <!-- перевіряємо наявність попередньої сторінки -->
                    {% if articles.has_previous %}
                        <a href="?page={{ articles.previous_page_number }}" class="previous">Prior Page</a>
                    {% else %}
                        <a href="" class="previous">Prior Page</a>
                    {% endif %}
                     <!-- вивід отриманого списку сторінок для пагінації -->
                    {% for page in list_of_pages %}
                            {% if page == articles.number %}
                                 <a href="?page={{ page }}" class="page active">{{ page }}</a>
                            {% else %}
                                <a href="?page={{ page }}" class="page">{{ page }}</a>
                            {% endif %}
                    {% endfor %}
                    <!-- перевіряємо наявність наступної сторінки сторінки -->
                    {% if articles.has_next %}
                        <a href="?page={{ articles.next_page_number }}" class="next">Next Page</a>
                    {% else %}
                        <a href="" class="next">Next Page</a>
                    {% endif %}
                    </div>
                </footer>
            </div>

        <!-- Copyright -->
            <div id="copyright">
                <ul><li>&copy; Untitled</li><li>Design: <a href="https://html5up.net">HTML5 UP</a></li></ul>
            </div>
    </div>
{% endblock %}
