{% extends "simpleblogapp/base.html" %}
{% load staticfiles %}


    {% block main_block %}
        <h1></h1>
        <h1></h1>
    <!-- Footer -->
        <footer id="footer">
            <section>

                {% if message %}
                <h4>Messages</h4>
                <div class="box">
                    <p>{{ message }}</p>
                </div>
                {% endif %}

                <form method="post" action="/simpleblogapp/registration">
                    {% csrf_token %}
                    <div class="field">
                        <label for="name">Username*</label>
                        <input type="text" name="name" id="name" />
                    </div>
                    <div class="field">
                        <label for="email">Email*</label>
                        <input type="text" name="email" id="email" />
                    </div>
                    <div class="field">
                        <label for="password">Password*</label>
                        <input type="text" name="password" id="password" />
                    </div>
                    <div class="field">
                        <label for="country">FirstName*</label>
                        <input type="text" name="first_name" id="first_name" />
                    </div>
                    <div class="field">
                        <label for="country">LastName*</label>
                        <input type="text" name="last_name" id="last_name" />
                    </div>
                    <div class="field">
                        <label for="country">Country*</label>
                        <input type="text" name="country" id="country" />
                    </div>
                    <div class="field">
                        <label for="city">City*</label>
                        <input type="text" name="city" id="city" />
                    </div>
                    <div class="field">
                        <label for="birthday">Birthday* (for example: 2006-10-25)</label>
                        <input type="text" name="birthday" id="birthday" />
                    </div>
                    <ul class="actions">
                        <li><input type="submit" value="Registration"/></li>
                    </ul>
                </form>
            </section>
        </footer>

    <!-- Copyright -->
        <div id="copyright">
            <ul><li>&copy; Untitled</li><li>Design: <a href="https://html5up.net">HTML5 UP</a></li></ul>
        </div>
    {% endblock %}
